.demo-item {
    margin-bottom: 10px;

    &__title {
        font-size: 18px;
        line-height: 24px;
        font-weight: bold;
        margin-bottom: 5px;
    }

    &__description {
        margin-bottom: 5px;
    }

    &__content {

    }
}
