.button {
    font-size: @body-font-size;
    font-weight: bold;
    line-height: 20px;
    color: @color-gray-dark;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #eee;
    background-image: linear-gradient(#fcfcfc, #eee);
    border: 1px solid #d5d5d5;
    border-radius: 3px;

    &__control {
        cursor: pointer;
        font-family: @body-font;
        padding: 6px 12px;
    }

    &_disabled &__control,
    &_disabled&_hovered &__control {
        cursor: default;
    }

    &_focused {
        text-decoration: none;
        border-color: #51a7e8;
        outline: none;
        box-shadow: 0 0 5px rgba(81, 167, 232, 0.5);
    }

    &_pressed&_focused {
        border-color: #51a7e8;
    }

    &_hovered,
    &_pressed {
        background-color: #ddd;
        background-image: linear-gradient(#eee, #ddd);
        border-color: #ccc;
    }

    &_pressed {
        background-color: #dcdcdc;
        background-image: none;
        border-color: #b5b5b5;
        box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15);
    }

    &_pressed&_hovered {
        background-color: darken(#dcdcdc, 5%);
    }

    &_disabled,
    &_disabled&_hovered {
        color: rgba(102, 102, 102, 0.5);
        background-color: rgba(229, 229, 229, 0.5);
        background-image: none;
        border-color: rgba(197, 197, 197, 0.5);
        box-shadow: none;
    }
}
