<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Github Primer Theme</title>
</head>
<body>
    <div id="app"></div>
    <script src="{%=o.htmlWebpackPlugin.options.assets.bundle%}"></script>
</body>
</html>
